body{
    margin:0;
    padding:0;

    background-color:black;
}

.navbar {
    background-color: black;
}
 .nav-carta {
    display:flex;
    justify-content: space-around;

 }



.card-dish{
    object-fit: cover;
    display: block;
    max-width: 100%;
    height: auto;
    
}
.card-title {
    color: black;
    font-weight: bold;
}

.card-text{
    color: black;
}


.container-title{
    color: white;
    border: #ffffff;

}

.container-drinks{
    color: #ffffff;
}

h5{
    font-size: 20px;
}

.hundred-color {
    background-color: 8a1538; /* Código de color azul personalizado */
    color: #ffffff; /* Color del texto */
}
 


/* CSS HOME */
.card-text-home{
    color: #ffffff;
}