body{
    margin:0;
    padding:0;

    background-color: black;
}
.navbar {
    background-color: black;
}

.card-img-top {
    width: 100%;
    max-width: var(--max);
    height: calc(var(--max));
    object-fit: cover;
    } 